* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f3dcd4;
}

.header{
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    gap: 80px;
    background-color: #ecc9c7; 
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.Act2{
    text-decoration: underline;
}

a, li{
    text-decoration: none;
    list-style: none;
    background-color: #ecc9c7;
    color: black;
}

a:hover {
    color: pink;
    font-size: 20px;
    transition: ease-out;
}

.sectionOne{
    margin-left: 40vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    gap: 100px;
}
.img {
    width: 60%;
    border-radius: 50%;
    border: 5px solid pink;

}

.sectionOne img{
    border-radius: 50%;
    border: 10px solid pink;
}

.info {
    width: 400px;
}

.info :is(h1,p) {
    margin-bottom: 10px;
}

.info h1 {
    font-size: 3rem;
    color: darkslategray;
}

.info p {
    font-size: 20px;
}

.info button{
    padding: 7px;
    border-radius: 10px;
    background-color:darkcyan ;  
    color:azure ;
    font-size: 1.2rem;
}

.sectionTwo {
    height: 100hv;
}

.sectionTwo h1{
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.container button {
    padding: 7px;
    background-color:darkcyan ;  
    color:azure ;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.sectionTwo img {
    border-radius: 20px;
    border: 5px solid darkslategray;
}

.p1{
    padding: 10px ;
    border-radius: 20px;
    margin-bottom: 30px;
}

button {
    transition: all .8s ease ;
    border-radius: 10px;
}

.sectionTwo img{
    width: 385px;
    height: 300px;
}

.sectionTwo h1{
    color:darkslategray;
    font-size: 3rem;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        gap: 30px;
        padding: 30px;
        font-size: 1rem;
    }

    a:hover{
        font-size: 1.5rem;
    }

    .sectionOne {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    .sectionOne img {
        width: 75%;
    }

    .sectionOne p{
        font-size: 1.5rem;
    }

    .info,
    .container p {
        width: 80%;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .sectionTwo img {
        width: 70%;
        margin-left: 15%;
    }

    .sectionTwo button{
        margin-left: 37%;
        margin-top: 10px;
    }

    .sectionTwo p{
        margin-left: 10%;
        margin-top: 10px;
        text-align: center;
    }

    .sectionTwo{
        margin-bottom: 50px;
    }
}
