*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3dcd4;
}

.container{
    text-align: center;    
    font-family: sans-serif ;
}


.header{
    display: flex;
    justify-content: ce;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 80px;
    background-color: #ecc9c7; 
    font-weight: bold;
    font-size: 1.5rem;
}

a, li{
    text-decoration: none;
    list-style: none;
    background-color: #ecc9c7;
    color: black;
}

a:hover {
    color: pink;
    font-size: 20px;
    transition: ease-out;
}

.body{
    padding: 2.5rem;
    background-color: gray;
    border-radius: 2rem;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

h1{
    color: azure;
    padding-bottom: 1rem;
    font-size: 4rem;
    background-color: gray;
}

.greet{
    color: azure;
    font-size: 2rem;
    padding-bottom: 2rem;
    background-color: gray;
}

.name{
    font-size: 2.5rem;
    background: linear-gradient(90deg, aquamarine 0%, hotpink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: solid 2px azure;
}

.learn{
    text-align: center;
    padding-top: 20px;
    margin-left: 105px;
    margin-right: 105px;
    color: azure;
    font-size: 2rem;
    background-color: gray;
}

.text-animation{
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    color:bisque;
}

.home{
    text-decoration: underline;
   }

@keyframes typing{
    from{
        width: 0;
    } to{
        width: 100%;
    }
}

@keyframes blink-caret{
    from, to{@media (max-width: 768px) {
    .header {
        flex-direction: row;
        gap: 30px;
        padding: 30px;
        font-size: 1rem;
    }

    a:hover{
        font-size: 1.5rem;
    }

    .text-animation{
        font-size: 1.25rem;
    }

    img{
        width: 250px;
        height: 250px;
    }

    .container {
        margin-bottom: 50px;
    }

    .greet{
        font-size: 1.5rem;
    }

    .name{
        font-size: 1.5rem;
    }

    .body {
        margin: 25px;
    }

    .learn{
        font-size: 1.5rem;
    }

    .flex {
        flex-direction: column;
    }

    .right,
    .left {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .right {
        order: 0;
    }
}

    
        border-color: transparent;
    } 50%{
        border-color: darkslategray;
    }
}
